.navbar {
  padding: 1rem;
  background: #3383b9;
  color: #fff;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-link.active {
  font-weight: bold;
} 